# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/venv/
backend/*.db
backend/downloads/
backend/videos/
.env
**/.env
backend/.env

# Node
node_modules/
frontend/node_modules/
frontend/dist/
.el-table__column-resize-proxy

# System
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
